.header-layout {
  position: fixed;
  width: calc(100% - 100px);
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
  background-color: #fff;
  z-index: 100;

  span {
    cursor: pointer;
    margin: 0 20px;
    transition: .3s ease-in-out;

    &:hover {
      color: #f26b38;
      border-bottom: 1px solid #f26b38;
    }

    &.active {
      color: #f26b38;
      border-bottom: 1px solid #f26b38;
    }
  }
}
