<div class="projects-layout" #main>
  <div class="projects-block">
    <span class="title">專案與作品</span>
    <div class="projects-main">
      <section class="projects-contents" *ngFor="let item of projectList" [title]="item.name" (click)="openLink(item)">
        <img class="cover" [src]="item.coverUrl">
        <div class="link-layout">
          <img src="assets/images/link-icon.png">
        </div>
      </section>
    </div>
  </div>
</div>

<app-preview [show]="showPreview" [imgUrl]="previewUrl" (closePreview)="closePreview($event)"></app-preview>
