<div class="edu-layout">
  <div class="edu-block">
    <div class="edu-main-title">學經歷</div>
    <div class="edu-main-layout">
      <div class="edu-main">
        <span class="edu-title">學歷</span>
        <section class="edu-contents">
          <span class="date">2014 - 2016</span>
          <div class="title">國立高雄應用科技大學</div>
          <div class="info">
            <div>電機工程系</div>
            <div>研究所</div>
          </div>
        </section>
        <section class="edu-contents">
          <span class="date">2010 - 2014</span>
          <div class="title">樹德科技大學</div>
          <div class="info">
            <div>電腦與通訊系(所)</div>
            <div>大學</div>
          </div>
        </section>
        <section class="edu-contents">
          <span class="date">2007 - 2010</span>
          <div class="title">高雄高級工業學校</div>
          <div class="info">
            <div>電子系</div>
            <div>高職</div>
          </div>
        </section>
      </div>
      <div class="edu-main">
        <span class="edu-title">工作經歷</span>
        <section class="edu-contents">
          <span class="date">2016 - Present</span>
          <div class="title">哈瑪星科技股份有限公司</div>
          <div class="info">
            <div>產品事業部</div>
            <div>研發替代役 - 工程師</div>
          </div>
        </section>
      </div>
      <div class="edu-main">
        <span class="edu-title">證照</span>
        <section class="edu-contents">
          <span class="date full"></span>
          <div class="title">CSEPT (第一級)測驗</div>
        </section>
        <section class="edu-contents">
          <span class="date full"></span>
          <div class="title">工業電子丙級</div>
        </section>
        <section class="edu-contents">
          <span class="date full"></span>
          <div class="title">電腦軟體應用丙級</div>
        </section>
        <section class="edu-contents">
          <span class="date full"></span>
          <div class="title">CERTIPORT IC 3 電腦專業能力認證</div>
        </section>
        <section class="edu-contents">
          <span class="date full"></span>
          <div class="title">單晶片能力認證丙級</div>
        </section>
        <section class="edu-contents">
          <span class="date full"></span>
          <div class="title">單晶片能力認證乙級</div>
        </section>
      </div>
    </div>
  </div>
</div>
