.edu-layout {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .edu-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1024px;

    .edu-main-title {
      font-size: 30px;
      font-weight: bold;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 5px;
        background-color: #f26b38;
        position: absolute;
        left: 0;
        bottom: 3px;
        opacity: .3;
      }
    }

    .edu-main-layout {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      .edu-main {
        width: calc(100% / 3 - 20px);
        padding: 0 10px;
        margin-bottom: 3em;

        .edu-title {
          font-size: 20px;
          line-height: 2;
          position: relative;

          &::before {
            content: "";
            width: 100%;
            height: 5px;
            background-color: #f26b38;
            position: absolute;
            left: 0;
            bottom: 3px;
            opacity: .3;
          }
        }

        .edu-contents {
          padding: 0 2em 1em;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background: #f26b38;
          }

          .date {
            color: #ffffff;
            background-color: #f26b38;
            padding: 0 5px;
            position: relative;

            &::before {
              content: "";
              width: 32px;
              height: 1px;
              position: absolute;
              left: -34px;
              top: 9px;
              background: #f26b38;
            }
          }

          .title {
            font-weight: bold;
            font-size: 20px;
            line-height: 2;
            margin-top: 10px;
          }

          .info {
            line-height: 1.5;
          }
        }
      }
    }

  }
}
