.main-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-block {
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    background-color: #fff;
    overflow-y: auto;

    .main-content {
      padding: 0 20px 0 20px;
    }

    .top {
      position: fixed;
      bottom: 50px;
      right: 50px;
      background-color: #f26b38;
      opacity: .8;
      cursor: pointer;
      transition: .3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}
