<div class="about-layout">
  <div class="about-block">
    <div class="about-cover">
      <div class="cover"></div>
    </div>
    <div class="about-name">
      <div class="tw">黃 培 峰</div>
      <div class="en">Huang Pei-Feng</div>
    </div>
  </div>
  <div class="about-content">
    我對於程式設計有濃厚的興趣，對於自己的作品力求完美，在每一個作品中自我精進，同時也利用網路資源不斷地增進自己的專業知識以及技術熟練程度，如程式設計、各式Web Template等。
    我畢業於國立高雄應用科技大學(現國立高雄科技大學)電機系研究所，在學期間曾於廈門群鑫機械公司實習，專研在以Native APP控制健身器材、跑步機等，因此對前端產生極大興趣。
    在開發上遇到困難時，我習慣先自行尋找各式資源解決，如使用Stackoverflow平台查詢、Github等，確保能夠獨立解決問題。畢業後主要工作內容為前端版面刻版、RWD及邏輯撰寫等，並與後端開發人員偕同開發。
    目前已實作許多上線中平台，其中以Angular為主要框架。除工作外，平時也極力學習及實作其他技術，如Vue、React、Nodejs等。
  </div>
</div>
