<div class="about-layout" #main>
  <div class="about-block">
    <div class="about-cover">
      <div class="cover" [ngStyle]="{ 'background-image': 'url(' + cover + ')' }"></div>
    </div>
    <div class="about-name">
      <div class="tw">黃 培 峰</div>
      <div class="en">Huang Pei-Feng</div>
      <div class="info">
        <span class="bold">前端工程師</span>
        <span *ngIf="!isPhone">．</span>
        <a class="link" href="mailto:peifeng1115@gmail.com" target="_blank">peifeng1115@gmail.com</a>
        <span *ngIf="!isPhone">．</span>
        <span>0970-806-207</span>
      </div>
    </div>
  </div>
  <div class="about-content" [innerHTML]="contents"></div>
</div>
